@charset "utf-8";

/*  RIGHT TO LEFT STYLESHEET

	THIS IS ONLY INCREMENTAL/SPECIFIC

	Always use this together with normal style.css
	But place it AFTER style.css so that these rules override he previous - this is crucial!

	See style.css for comments and full rule set.

	Basically, it all boils down to setting text align and floats to right.
	Then we need to change anything side-specific like padding, margin or images (alignment)
*/
/*
	formREPLACER
*/
/*
	Checkbox
*/
.fReplacedCheckbox label {
	margin-right: 10px;
}
.fReplacedCheckboxImg {
	float: right;
}
/*
	Radiobox
*/
.fReplacedRadio label {
	margin-right: 10px;
}
.fReplacedRadioImg {
	float: right;
}
/*
	Select
*/
.fReplacedSelect {
	float: right;
	text-align: right;
	padding: 5px 5px 5px 40px;
	background: #191919 url(../img/select_rtl.png) left 0 no-repeat;
}
.fReplacedSelect:hover, .fReplacedSelect.disabled:hover {
	background: #191919 url(../img/select.png) left -35px no-repeat;
}
.fReplacedSelectOptions li {
	text-align: right;
}
.fReplacedSelectOptions .fReplacedOptGroup {
	text-align: right;
}
/*
	Select Multiple
*/
.fReplacedSelectMultiple {
	float: right;
	text-align: right;
}