@charset "utf-8";

/*
	Rules, that impact functionality, are commented and explained to dispel any doubts.
	You can change anything here. You should get familiar with how some styles, that are important for the functionality,
	are constructed - as they provide consistent look and feel.

	Those rules without comments are either straightforward or purely decorative.

	Note: IE6 and below - those browser do not understand some of the rules used here:
		- last/first-child
		- :hover pseudo-lass (if applied to anything other than Anchor)
		- transparent .pngs (used on .radio)

	These are not critical functions, thus I've decided not to fix them here (with js/hacks)
	to keep things simple. If you need those rules to behave the same in older IEs,
	Use IE-js (http://code.google.com/p/ie7-js/) (also fixes transparent .png issues)
	or any other make-ie6-nice JavaScript projects.
*/

/*
	LAYOUT
*/
body {
	/* 16px font size and 1.5x line height */
	font: 16px/1.5  Georgia, "Times New Roman", Times, serif;
	background: #101010; color: #e1e1e1;
}
#wrapper {
	padding: 20px;  /* I need some air! */
}

/*
	HEADINGS

	Base settings for headings.
*/
h1 { font-size: 48px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

/*
	FORMS
*/
label {
	font-size: 18px;
}

/*
	formREPLACER
*/

.fReplacedRadio.disabled, .fReplacedRadio.disabled label,
.fReplacedCheckbox.disabled, .fReplacedCheckbox.disabled label,
.fReplacedSelectOptions li.disabled, .fReplacedSelect.disabled,
.fReplacedSelectMultiple.disabled, .fReplacedSelectMultiple li.disabled {
	/*
		These are the common rules that indicate the element is disabled (inactive).
	*/
	cursor: default;
	font-style: italic;
	color: #555;
}
/*
	Checkbox

    .fReplacedCheckbox       -   container span for both label and .fReplacedCheckboxImg
    label                    -   label for the checkbox
    .fReplacedCheckboxImg    -   span that houses only the image

	.selected                -   class added to currently selected items
	.disabled                -   class added to elements, that are disabled
*/
.fReplacedCheckbox {
	cursor: pointer;         /* Changes the cursor into a "hand" */
}
.fReplacedCheckbox label {
	cursor: pointer;        /* The label can also be clicked */
	margin-left: 10px;
}
.fReplacedCheckboxImg {
	float: left; /* Ensures proper display of the image, it's inside .fReplacedCheckbox
					so we do not need to worry about clearing floats */
	width: 16px; height: 16px;
	margin-top: 4px; /* Nice alignment with the label, may need to adjust if the height changes! */
	background: #191919;
	border: 1px solid #313131;
}
.fReplacedCheckbox.selected .fReplacedCheckboxImg {
	/* This image is assigned when the checkbox is selected */
	background: #191919 url(../img/check.png) center no-repeat;
}
.fReplacedCheckbox:hover {
	color: #fefefe;
}
.fReplacedCheckbox:hover .fReplacedCheckboxImg {
	border: 1px solid #fefefe;
}
.fReplacedCheckbox.disabled:hover .fReplacedCheckboxImg {
	/* We cancel any special hover effects, since this element is disabled
		colors are the same as in .fReplacedCheckboxImg{} rule */
	background: #191919; border: 1px solid #313131;
}

/*
	Radiobox

	.fReplacedRadio      -   container spawn for label and .fReplacedRadioImg
	label                -   label for this radio
	.fReplacedRadioImg   -   span that houses only the image

	.selected            -   class added to currently selected item
	.disabled            -   class added to elements, that are disabled
*/
.fReplacedRadio {
	cursor: pointer;
}
.fReplacedRadio label {
	cursor: pointer;        /* Let the user know, the label can also be clicked */
	margin-left: 10px;
}
.fReplacedRadioImg {
	float: left;     /* Ensures proper display of the image, it's inside .fReplacedRadio
						so we do not need to worry about clearing */
	width: 16px; height: 16px;
	margin-top: 4px; /* Nice alignment with the label, may need to adjust if the height changes! */
	background: url(../img/radio.png) 0 0 no-repeat; /* 0 0 means "upper-right" corner */
}
.fReplacedRadio.selected .fReplacedRadioImg {
	/* We use sprites here, so the image file is the same but, shifts as the user hovers over.
	   You are free to use whatever image you like. Note that,
	   if you modify the included select_dropdown.png/psd
	   make sure to adjust the -px amount to reflect your new version.
	   (this is the half of the whole image) */
	background: url(../img/radio.png) 0 -16px no-repeat;
}
.fReplacedRadio:hover {
	color: #fefefe;
}


/*
	Selectbox

	.fReplacedSelect         -   span for currently selected option
	.fReplacedSelectOptions  -   UL with all the options as LIs
	.fReplacedOptGroup       -   class added to LIs to simulate native opt-groups
	                             (non click-able, differently aligned)

	.fReplacedSelectMultiple -   UL with all the options as LIs that you can toggle on and off
							In case of a .fReplacedSelectMultiple there is no span element

	.selected         -   class added to currently selected items
	.disabled         -   class added to elements (as well as their options), that are disabled
*/
.fReplacedSelect {
	/*  Takes up only the necessary amount of space */
	display: inline-block;
	/*  This gives 5px of padding on each side + 35px of padding on right for the image */
	padding: 5px 40px 5px 5px;
	cursor: pointer;
	border: 1px solid #313131;
	min-width: 125px;               /*  This gives us a nice, consistent width
									    If needed, .fReplacedSelect will grow bigger, but not smaller
									    Note: not supported in IE6 but purely decorative */
	background: #191919 url(../img/select.png) right 0 no-repeat;
}
.fReplacedSelect:hover {
	color: #fefefe;
	/* Sprites - same as with radio_button.png */
	background: #191919 url(../img/select.png) right -35px no-repeat;
}
.fReplacedSelect.disabled:hover {
	/* Cancel any special hover effects + some nice color to indicate inactivity */
	color: #555;
	background: #191919 url(../img/select.png) right 0 no-repeat;
}
.fReplacedSelectOptions {
	/*  Using min-width makes the UL align perfectly with .fReplacedSelect,
	    it will grow bigger if needed, but not smaller
		This is total width of .fReplacedSelect minus 35px for image and minus 1px for border
		Note: not supported in IE6 but purely decorative, feel free to change :) */
	min-width: 134px;
	/* Ensures that .fReplacedSelectOptions has no additional dimensions */
	padding: 0; margin: 0; list-style: none;
	background: #191919; border: 1px solid #313131;
}
.selectScroll + .fReplacedSelectOptions {
	/*  This rule is responsible for handling scrollbars on select dropdowns.
		If you find your dropdown to be too long to display, append 'seclectScroll' class TO THAT SELECT input and set the desired
		height, at which the scrollbar will show, here. The '+' in this rule, says apply these settings to .fReplacedSelectOptions
		that immediately follows smth with a class .selectScroll.
		Remember, this is just an example, you can name the class whatever you want, set anything...*/
	height: 150px; /* Change this height to whatever you want! */
	overflow-y: auto; /* This shows the scrollbar if the list is longer then what you have set in height */
}
.fReplacedSelectOptions li {
	/* Coupled with Opt-Groups alignment, separates them from normal options (LIs) */
	text-align: right;
	padding: 5px 4px; border-bottom: 1px solid #313131;
}
.fReplacedSelectOptions li:hover {
	cursor: pointer; background: #1f1f1f; /* Gives a hint to a user, that this is click-able */
}
.fReplacedSelectOptions li.disabled:hover {
	cursor: default; background: #191919; /* No special hover on this one */
}
.fReplacedSelectOptions li:last-child { border-bottom: none; } /* No double border */
.fReplacedSelectOptions .fReplacedOptGroup {
	font-weight: bold; text-align: left; /* This way Opt-Goups differ from normal LIs */
}
.fReplacedSelectOptions .fReplacedOptGroup:hover {
	/*  Opt-groups are also LIs but are not clicka-ble,
	    so we 'cancel' any effects applied by .fReplacedSelectOptions LI:hover */
	cursor: default; background: #191919;
}
.fReplacedSelectMultiple {
	float: left; /* Makes the list only occupy necessary space */
	border: 1px solid #313131; background: #191919;
	/* Ensures that the only list's dimensions will be those of LIs*/
	list-style: none; padding: 0; margin: 0;
	overflow-y: scroll;         /*  This ensures we get the distinctive vertical scroll bar
									like the vanilla select-multiple */
}
.fReplacedSelectMultiple li {
	border-bottom: 1px solid #313131; padding: 2px;
}
.fReplacedSelectMultiple li:last-child {
	border-bottom: none;    /* Avoids double (LI's one and UL's one) border at the bottom */
}
.fReplacedSelectMultiple .selected {
	background: #313131;
}
.fReplacedSelectMultiple li:hover {
	cursor: pointer; color: #fefefe; /* Gives a hint to a user, that this is click-able */
}
.fReplacedSelectMultiple.disabled li:hover, .fReplacedSelectMultiple li.disabled:hover {
	cursor: default; color: #555; /* Disabled, no cursor or special color! */
}
/* Clears the floats */
.clearfix { clear: both; }